.hamburger {
  width: rem(25px);
  height: rem(23px);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333537;
  opacity: 0.9882352941176471;
  display: none;
  justify-content: center;
  z-index: 10000;
}

.hamburger__container {
  position: relative;
  display: flex;
  justify-content: center;
}

.hamburger__close {
  position: absolute;
  top: 1%;
  right: 1%;
}

.hamburger__menu {
  color: #fff;
  width: 160px;
  font-size: 41px;
  letter-spacing: 0.7px;
  line-height: 0.9;
  position: absolute;
  top: 4.2%;
  left: 31.6%;

  @include phones {
  top: 4.7%;
  left: 24%;
  }
}

.hamburger__link:hover {
  color: #61c4d9;
}