.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(19px) rem(36px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  display: inline-flex;
  border: none;

  &_theme_white {
    background: #fff;
    color: $darkGreen;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }

  &_theme_green {
    background: $darkGreen;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 rem(20px) rgba(0,0,0,0.5);
    }
  }
  
  &_theme_transparent {
    background: transparent;
    color: #000;
    cursor: pointer;
    text-transform: none;
    padding: rem(19px) rem(25px);
    font-size: rem(18px);
    
    &:hover {
      color: $darkGreen;
    }
    
    &:focus {
      outline: none;
    }
  }

  @include tablets {
    line-height: 1.2;
  }

  @include phones {
    font-size: rem(20px);
    line-height: 1.42;
    letter-spacing: 1px;
  }
}
