.contacts-section {
  position: relative;
}

.map {
  height: 100%;
  background: url("../img/map.png") center center / cover no-repeat;

  @include tablets {
    background: url("../img/map-768.png") center center / cover no-repeat;
  }

  @include phones {
    background: url("../img/map-480.png") center center / cover no-repeat;
  }
}