.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);

  &_checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        background: url("../img/icons/checkmark.svg") no-repeat;
      }
    }
  }
}

.radio__elem {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  &:focus ~ .radio__visible {
    box-shadow: 0 0 rem(20px) rgba(0,0,0,0.5);
  }

  &:checked ~ .radio__visible {
    &:before {
      display: flex;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: rem(10px);
  margin-bottom: rem(10px);

  &:before {
    content: "";
    width: rem(14px);
    height: rem(14px);
    background: #365a49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}