.reviews-section {
  position: relative;
  background: url("../img/decor/strawberry.png") right 11% top 10% no-repeat;

  &:before {
    content: url("../img/decor/side-leaf-1.png");
    position: absolute;
    bottom: -190px;
    left: 0;
    z-index: 1;
  }

  &:after {
    content: url("../img/decor/berries.png");
    position: absolute;
    bottom: -115px;
    left: 0;
    z-index: 1;
  }
}