.reviews-section {
  position: relative;
  background: url("../img/decor/strawberry.png") right 11% top 10% no-repeat;

  &:before {
    content: url("../img/decor/side-leaf-1.png");
    position: absolute;
    bottom: rem(-190px);
    left: 0;
    z-index: 1;

    @include tablets {
      bottom: rem(-125px);
      left: rem(-28px);
    }
  }

  &:after {
    content: url("../img/decor/berries.png");
    position: absolute;
    bottom: rem(-115px);
    left: 0;
    z-index: 1;

    @include tablets {
      bottom: rem(-65px);
      left: rem(-35px);
    }
  }

  @include tablets {
    background-position: right -5% top 2%;
  }
}